.main-page-wrapper {
    width:100%;
    height:100%;
    background-color:#e9eadc;
    overflow: hidden;
}

.about-us-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;
}

.text-wrapper {
    padding: 20px;
    border-color: rgb(82, 221, 69);
    border-left: 5px groove;
    border-right: 5px groove;
    border-radius: 10px;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    margin-left: 2%;               
    background-color: black;
    height: 1px;
}