.carousel-image {
    width: 1536px;
    height: 100%;
}

.transform {
    -webkit-transition: all 3s ease;  
    -moz-transition: all 3s ease;  
    -o-transition: all 3s ease;  
    -ms-transition: all 3s ease;  
    transition: all 3s ease;
}

/* Scroll */

.prev, .next {
    padding: 10px;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    cursor: pointer;
    color: black;
    transition: 0.6s ease;
}

.next {
    margin-left: 5px;
}
  
.prev {
    margin-right: 5px;
}
  
.prev:hover, .next:hover {
    color: white;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

.featured-point {
    padding-left: 10px;
    padding-right: 10px;
}