.pc-block {
    display: flex;
}

.click {
	font-size: 33px;
	color: rgba(0,0,0,.5);
	width: 35px;
	height: 35px;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
    margin-left: 15px;
    margin-top: -5px;
}

.click span {
	margin-left: 4px;
	margin-top: 3px;
	z-index: 999;
	position: absolute;
}

span:hover {
	opacity: 0.8;
}

span:active {
	transform: scale(0.93,0.93) translateY(2px)
}

.ring, .ring2 {
	opacity: 0;
	background: grey;
	width: 1px;
	height: 1px;
	position: absolute;
	top: 17px;
	left: 17px;
	border-radius: 50%;
	cursor: pointer;
}

.active span, .active-2 span {
	color: #F5CC27 !important;
}

.active-2 .ring {
	width: 55px !important;
	height: 55px !important;
	top: -7px !important;
	left: -7px !important;
	position: absolute;
	border-radius: 50%;
	opacity: 1 !important;
}

.active-2 .ring {
	background: #F5CC27 !important;
}

.active-2 .ring2 {
    background-color: white;
}

.card:hover .active-2 {
    background-color: rgba(73, 63, 252, 1) !important;
}

.card:hover .ring2 {
    background-color: rgba(73, 63, 252, 1) !important;
}

.active-3 .ring2 {
	width: 57px !important;
	height: 57px !important;
	top: -8px !important;
	left: -8px !important;
	position: absolute;
	border-radius: 50%;
	opacity: 1 !important;
}

.click, span, .ring, .ring2, .active, .active-2, .active-3 {
	transition: all .32s ease;
}