.dFlex,
.main_content,
.main_content .card,
.main_content .card .card_header,
.pbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_content {
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .main_content {
    flex-direction: column;
  }
}

.main_content .card {
  width: 30%;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 50px;
}

.main_content .card .card_img {
  margin-top: -5vw;
}

.main_content .card .card_img img {
  width: 200px;
}

.main_content .card .card_header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #000000;
  margin: 25px 0;
}

.main_content .card .card_header h2 {
  font-size: 20px;
  transition: color 0.5s ease;
}

.main_content .card .card_header p {
  font-size: 14px;
  text-align: center;
  color: #000000;
  margin: 8px 0;
  transition: color 0.5s ease;
}

.main_content .card .card_header .price {
  font-size: 40px;
  color: #181818;
}

.main_content .card .card_header .price span {
  font-size: 20px;
  font-weight: bolder;
  display: inline-block;
  vertical-align: top;
}

.main_content .card:hover {
  background-color: rgba(73, 63, 252, 1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.main_content .card:hover .pbtn {
  background-color: rgba(0, 0, 0, 0.25);
  color: #ffff;
}

.main_content .card:hover .card_header h2 {
  color: #ffffff;
}

.main_content .card:hover .card_header p {
  color: #ffffff;
}

.pbtn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  background-color: #1c1919;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  overflow: hidden;
}
