.contain{
  min-height: 80vh;
  text-align: center;
}
.card_img {
  height: 400px;
}
.logo {
  position: relative;
}
.imgCol {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.name{
    text-align: center;
}
.card{
  padding-top: 90px;
  height: 80vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.mainImg{
  text-align: center;
  margin: auto;
  height: 30vh;
  width: auto !important;
}
/* .name{
  text-align: center;
}
.description{
  text-align: center;
}
.addToCart{
  text-align: center;
} */